{% extends "base.html" %}

{% block container %}
<form action="/music-search">
    <div class="form-group">
        <label class="form-label" for="keyword">关键词:</label>
        <input id="keyword" name="keyword" type="text" class="form-control" placeholder="输入关键词">
    </div>
    <div class="row">
        <div class="col form-check">
            <input class="form-check-input" type="radio" name="platform" value="qq" id="qq" checked>
            <label class="form-check-label" for="qq">qq</label>
        </div>
        <div class="col">
            <input class="form-check-input" type="radio" name="platform" value="m" id="m">
            <label class="form-check-label" for="m">m</label>
        </div>
        <div class="col">
            <input class="form-check-input" type="radio" name="platform" value="netease" id="netease">
            <label class="form-check-label" for="netease">netease</label>
        </div>
        <div class="col">
            <input class="form-check-input" type="radio" name="platform" value="kuwo" id="kuwo">
            <label class="form-check-label" for="kuwo">kuwo</label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">确定</button>
</form>
<br>
<form method="POST">
    <input type="hidden" name="music" value="{{0 if music else 1}}">
    <button type="submit" class="btn btn-primary">{{'关闭' if music else '打开'}}音乐</button>
</form>
{% endblock %}